{# I'm not focus on frontend / SEO/ optimalization / inline js/css this is just simple example #}


{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
   <link href="assets/css/style.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="assets/js/quote.js"></script>

{% endblock %}

{% block body %}
    <div>File source at <a href="https://github.com/Atandil/insuracequerydb">https://github.com/Atandil/insuracequerydb</a></div>
    
   <div class="modal-container"></div>
   <div class="alert alert-success" role="alert" id="result"></div>
   
    <h1>Quote list</h1>
    
    <button type="button" class="btn btn-primary" id="add">Add new quote</button><br>
    
<table id="table" class="display" style="width:100%">
        <thead>
            <tr> 
                <th> </th>
                <th>Id</th>
                <th>Reference</th>
                <th>Premium Amount</th>
                <th>Created Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
      
</table>

{% endblock %}